---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "ANVm_gjRqXbyYOylty_2ylExNHI",
          "nextPageToken": "CAUQAA",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "gTXbBHCD2sXOMrP6yUaelyknN90",
              "id": "UEx6YklNUnVVTG5JNG4zZEtkSmsyZnFLSzhJN25BVjROcy43QzNCNkZENzIyMDY2MjZB",
              "contentDetails": {
                "videoId": "Smw9a_xJzTU",
                "videoPublishedAt": "2020-04-07T19:23:01Z"
              }
            },
            {
              "kind": "youtube#playlistItem",
              "etag": "qJBiSS-ePZg8g25u4_U350UcaaQ",
              "id": "UEx6YklNUnVVTG5JNG4zZEtkSmsyZnFLSzhJN25BVjROcy4yQUE2Q0JEMTk4NTM3RTZC",
              "contentDetails": {
                "videoId": "_Y9xvzrZlIA",
                "videoPublishedAt": "2019-06-12T14:28:46Z"
              }
            },
            {
              "kind": "youtube#playlistItem",
              [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CAUQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "brF07ccrY-fco0vOp5d6hlhj77E",
          "nextPageToken": "CAoQAA",
          "prevPageToken": "CAUQAQ",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "QObPJ4nCuhi1eJRpax0OY4Fh80c",
              "id": "UEx6YklNUnVVTG5JNG4zZEtkSmsyZnFLSzhJN25BVjROcy5DQUNERDQ2NkIzRUQxNTY1",
              "contentDetails": {
                "videoId": "lAlYvQv-8Sw",
                "videoPublishedAt": "2018-06-08T19:52:04Z"
              }
            },
            {
              "kind": "youtube#playlistItem",
              "etag": "qghP6tqu7byM_j[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CAoQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/eKLMPupUSRlheROmhWA2bPQVahk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/eKLMPupUSRlheROmhWA2bPQVahk\"",
         "nextPageToken": "CA8QAA",
         "prevPageToken": "CAoQAQ",
         "pageInfo": {
          "totalResults": 66,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/JLqUwUIiJg5UWsdLMZWr0KjZYTc\"",
           "id": "UEx6YklNUnVVTG5JNG4zZEtkSmsyZnFLSzhJN25BVjROcy44Mjc5REFBRUE2MTdFRDU0",
           "contentDetails": {
            "videoId": "812s1LKflqc",
            "videoPublishedAt": "2019-05-30T18:59:41.000Z"
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Dn5xIder[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CA8QAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CBQQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/IIzRFR6KJ26nRlBKFTBgol68I4M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CBkQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/keVGPBXyBoXnpp3asVDRCIM9UlE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CB4QAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CCMQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CCgQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CC0QAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/m4T3sHYqFKOTZD3W8xjhdVx03s0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CDIQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CDcQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CDwQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListRespo[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YOUTUBE_API_KEY>&pageToken=CEEQAA&part=contentDetails&playlistId=PLzbIMRuULnI4n3dKdJk2fqKK8I7nAV4Ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#playlistItemListResponse",
          "etag": "ehb7C1Z1kVBF3eK2lsevlO74g6g",
          "prevPageToken": "CEEQAQ",
          "items": [
            {
              "kind": "youtube#playlistItem",
              "etag": "yP3_8YJwj15gPKPQ0iU4JGVcScA",
              "id": "UEx6YklNUnVVTG5JNG4zZEtkSmsyZnFLSzhJN25BVjROcy42RTNCOEMxREI3Q0VDMjU2",
              "contentDetails": {
                "videoId": "VGx7cvPg968",
                "videoPublishedAt": "2014-11-07T20:33:34Z"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 66,
            "resultsPerPage": 5
          }
        }
  recorded_at: Tue, 12 May 2020 07:16:40 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Smw9a_xJzTU&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "SfUrpGErEMmb_kD68PZkHp601xA",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "mQgL4SU3m8I58-GGdA8sDob07ds",
              "id": "Smw9a_xJzTU",
              "snippet": {
                "publishedAt": "2020-04-07T19:23:01Z",
                "channelId": "UCfM8rJ0t4_err8HItoqiyKA",
                "title": "Port Truck Driver Featured on NPR's Morning Edition",
                "description": "On NPR's Morning Edition today, Michael Whitehead, a port truck driver in California, spoke about the impact of COVID-19 at the ports. Michael is a misclassified port truck driver. Misclassification is an illegal practice that companies employ to avoid basic workplace protections like minimum wage, health insurance, disability and more. The Teamsters Union is standing with port workers, assisting with resources in English and Spanish so that they can apply for unemployment benefits.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/Smw9a_xJzTU/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/Smw9a_xJzTU/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/Smw9a_xJzTU/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/Smw9a_xJzTU/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/Smw9a_xJzTU/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "Teamsters",
                "categoryId": "25",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "Port Truck Driver Featured on NPR's Morning Edition",
                  "description": "On NPR's Morning Edition today, Michael Whitehead, a port truck driver in California, spoke about the impact of COVID-19 at the ports. Michael is a misclassified port truck driver. Misclassification is an illegal practice that companies employ to avoid basic workplace protections like minimum wage, health insurance, disability and more. The Teamsters Union is standing with port workers, assisting with resources in English and Spanish so that they can apply for unemployment benefits."
                },
                "defaultAudioLanguage": "en"
              },
              "contentDetails": {
                "duration": "PT2M10S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "contentRating": {},
                "projection": "rectangular"
              },
              "statistics": {
                "viewCount": "276",
                "favoriteCount": "0"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Tue, 12 May 2020 07:16:40 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=_Y9xvzrZlIA&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "16hE-5TC00I-2BGbWW[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=f9gRwypPd7I&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "J4wozfSHb1rkEyvJzi[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=MmJQKNATbOo&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "4CksGzdgwsLcfbMhwK[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=Ue3deDiXSC4&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "L7ZeTagMFvVHLp2dEO[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=lAlYvQv-8Sw&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "lNuHmWKyf4nkTB60bF[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=hmO_54dGhDU&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/lSKAlbduandm0lmDLQbDn4Dyv7s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=c0RJte0QroU&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "0HpU9y8eZexZWeNAfA[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=e21kdW7D56o&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/LloDMiQCG49b2puzjE0deBKpi6c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=6EO68WMF0mY&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "LKfwhkSB8bR6crK8cg[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=812s1LKflqc&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/-IRlp3280B1ii-P_BNpvkM2cad4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=IR7DyrFwCN4&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "JGNUjO3nhy7lDLyAZ5[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=tK4fRkNPSv0&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "QegFybWbVM67_WMo_X[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=WDmCKwhX1Oo&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "zO7elaeIAvA40xM1Da[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=3Ib8lvN6f4c&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/AsaGHEJMjqDrl47-rFbeUE5siKc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=PzemdgxC-LE&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/FveDpSI8U49G5AzbWYnu4YfkLxg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=hR9MtTEV8UU&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "P6m48dsGzh0xVe1pLm[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=LqcHeyTWwq0&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "8EAlpFrnJxTKb3yPKM[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=cjWv0_AUkGE&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/BSwXH0wbo7s5krRbtI-4WCZNKQw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=wtRE9GfSjmo&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/vVAtqEc2pH75HvyB7u2NvVhbOSg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=9WQWGvmcCro&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "0nI4uDw5PTYgGuRUee[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=EvxkXWsD8Ko&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "B5Oh8AEtyZ3bojdf3g[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=FTfN0hL6vyc&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "ZMeaGgxPaC8qZ3gWLC[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=rYH6YVhUvuo&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "zuHXbjW3Z5I8jJV3h9[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=J1s3ZWlaPLw&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "KbNkvrzl-o0q9bzuC8[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=dIFO-AO9JlQ&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/Zmmp-9EvmyRVRFlJoHzUF3ueBTw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=c8lQv7-BYOc&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/u3FlyiUuH44s8bq3N8pa_a2pnAA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=odu2cIthCys&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "9TSI6p0VEqHTr1FTUB[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=deFfj_siuYU&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "-Z3i8xON-lINHcO7Sj[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=cJLugnMYVNU&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "y-zQR5PfIps9JuIQ6n[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=MokTOfSmwoE&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "s0OqTLDRoRtaRMXQQP[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=s_b34DUZ8oE&key=<YOUTUBE_API_KEY>&part=snippet,contentDetails,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/w1MvUdN0eoGBX_g5KaWvl88lvww"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
    [...]
[...]
- request:
    method: get
[...]
