---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1589272723'
      Etag:
      - W/"6428bf653452c85b48dda6de3219773b"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":228922785,"node_id":"MDEwOlJlcG9zaXRvcnkyMjg5MjI3ODU=","name":"1911_futbol_spec_harness","full_name":"benfox1216/1911_futbol_spec_harness","private":false,"owner":{"login":"benfox1216","id":49012638,"node_id":"MDQ6VXNlcjQ5MDEyNjM4","avatar_url":"https://avatars1.githubusercontent.com/u/49012638?v=4","gravatar_id":"","url":"https://api.github.com/users/benfox1216","html_url":"https://github.com/benfox1216","followers_url":"https://api.github.com/users/benfox1216/followers","following_url":"https://api.github.com/users/benfox1216/following{/other_user}","gists_url":"https://api.github.com/users/benfox1216/gists{/gist_id}","starred_url":"https://api.github.com/users/benfox1216/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/benfox1216/subscriptions","organizations_url":"https://api.github.com/users/benfox1216/orgs","repos_url":"https://api.github.com/users/benfox1216/repos","events_url":"https://api.github.com/users/benfox1216/events{/privacy}","received_events_url":"https://api.github.com/users/benfox1216/received_events","type":"User","site_admin":false},"html_url":"https://github.com/benfox1216/1911_futbol_spec_harness","description":null,"fork":true,"url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness","forks_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/forks","keys_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/keys{/key_id}","collaborators_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/teams","hooks_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/hooks","issue_events_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/issues/events{/number}","events_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/events","assignees_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/assignees{/user}","branches_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/branches{/branch}","tags_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/tags","blobs_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/git/refs{/sha}","trees_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/git/trees{/sha}","statuses_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/statuses/{sha}","languages_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/languages","stargazers_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/stargazers","contributors_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/contributors","subscribers_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/subscribers","subscription_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/subscription","commits_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/commits{/sha}","git_commits_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/git/commits{/sha}","comments_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/comments{/number}","issue_comment_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/issues/comments{/number}","contents_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/contents/{+path}","compare_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/compare/{base}...{head}","merges_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/merges","archive_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/downloads","issues_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/issues{/number}","pulls_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/pulls{/number}","milestones_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/milestones{/number}","notifications_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/labels{/name}","releases_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/releases{/id}","deployments_url":"https://api.github.com/repos/benfox1216/1911_futbol_spec_harness/deployments","created_at":"2019-12-18T21:14:52Z","updated_at":"2019-12-18T21:14:54Z","pushed_at":"2019-12-16T17:28:37Z","git_url":"git://github.com/benfox1216/1911_futbol_spec_harness.git","ssh_url":"git@github.com:benfox1216/1911_futbol_spec_harness.git","clone_url":"https://github.com/benfox1216/1911_futbol_spec_harness.git","svn_url":"https://github.com/benfox1216/1911_futbol_spec_harness","homepage":null,"size":291,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":240341007,"node_id":"MDEwOlJlcG9zaXRvcnkyNDAzNDEwMDc=","name":"activerecord-obstacle-course","full_name":"benfox1216/activerecord-obstacle-course","private":false,"owner":{"login":"benfox1216","id":49012638,"node_id":"MDQ6VXNlcjQ5MDEyNjM4","avatar_url":"https://avatars1.githubusercontent.com/u/49012638?v=4","gravatar_id":"","url":"https://api.github.com/users/benfox1216","html_url":"https://github.com/benfox1216","followers_url":"https://api.github.com/users/benfox1216/followers","f[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-R[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-R[...]
[...]
