---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer c680771e6737b438aa4c8d333c7234e02b7b985b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4817'
      X-Ratelimit-Reset:
      - '1589380703'
      Etag:
      - W/"a7923053b602029aefb95fcbc1b691d6"
      X-Oauth-Scopes:
      - read:user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"NickLindeberg","id":39312419,"node_id":"MDQ6VXNlcjM5MzEyNDE5","avatar_url":"https://avatars3.githubusercontent.com/u/39312419?v=4","gravatar_id":"","url":"https://api.github.com/users/NickLindeberg","html_url":"https://github.com/NickLindeberg","followers_url":"https://api.github.com/users/NickLindeberg/followers","following_url":"https://api.github.com/users/NickLindeberg/following{/other_user}","gists_url":"https://api.github.com/users/NickLindeberg/gists{/gist_id}","starred_url":"https://api.github.com/users/NickLindeberg/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NickLindeberg/subscriptions","organizations_url":"https://api.github.com/users/NickLindeberg/orgs","repos_url":"https://api.github.com/users/NickLindeberg/repos","events_url":"https://api.github.com/users/NickLindeberg/events{/privacy}","received_events_url":"https://api.github.com/users/NickLindeberg/received_events","type":"User","site_admin":false},{"login":"tylerpporter","id":58486125,"node_id":"MDQ6VXNlcjU4NDg2MTI1","avatar_url":"https://avatars3.githubusercontent.com/u/58486125?v=4","gravatar_id":"","url":"https://api.github.com/users/tylerpporter","html_url":"https://github.com/tylerpporter","followers_url":"https://api.github.com/users/tylerpporter/followers","following_url":"https://api.github.com/users/tylerpporter/following{/other_user}","gists_url":"https://api.github.com/users/tylerpporter/gists{/gist_id}","starred_url":"h[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer c680771e6737b438aa4c8d333c7234e02b7b985b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4[...]
[...]
