---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1589380703'
      Etag:
      - W/"8c6e014378552277fe228eb4b33325fb"
      X-Oauth-Scopes:
      - admin:repo_hook, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":261307280,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEzMDcyODA=","name":"brownfield-of-dreams","full_name":"benfox1216/brownfield-of-dreams","private":false,"owner":{"login":"benfox1216","id":49012638,"node_id":"MDQ6VXNlcjQ5MDEyNjM4","avatar_url":"https://avatars1.githubusercontent.com/u/49012638?v=4","gravatar_id":"","url":"https://api.github.com/users/benfox1216","html_url":"https://github.com/benfox1216","followers_url":"https://api.github.com/users/benfox1216/followers","following_url":"https://api.github.com/users/benfox1216/following{/other_user}","gists_url":"https://api.github.com/users/benfox1216/gists{/gist_id}","starred_url":"https://api.github.com/users/benfox1216/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/benfox1216/subscriptions","organizations_url":"https://api.github.com/users/benfox1216/orgs","repos_url":"https://api.github.com/users/benfox1216/repos","events_url":"https://api.github.com/users/benfox1216/events{/privacy}","received_events_url":"https://api.github.com/users/benfox1216/received_events","type":"User","site_admin":false},"html_url":"https://github.com/benfox1216/brownfield-of-dreams","description":"Rails
        app used for hosting video tutorials and classes. Serves as the base repository
        for a B3 project.","fork":true,"url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams","forks_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/forks","keys_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/teams","hooks_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/hooks","issue_events_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/issues/events{/number}","events_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/events","assignees_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/assignees{/user}","branches_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/branches{/branch}","tags_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/tags","blobs_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/languages","stargazers_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/stargazers","contributors_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/contributors","subscribers_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/subscribers","subscription_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/subscription","commits_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/contents/{+path}","compare_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/merges","archive_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/downloads","issues_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/issues{/number}","pulls_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/labels{/name}","releases_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/releases{/id}","deployments_url":"https://api.github.com/repos/benfox1216/brownfield-of-dreams/deployments","created_at":"2020-05-04T22:14:57Z","updated_at":"2020-05-13T10:30:06Z","pushed_at":"2020-05-13T10:30:14Z","git_url":"git://github.com/benfox1216/brownfield-of-dreams.git","ssh_url":"git@github.com:benfox1216/brownfield-of-dreams.git","clone_url":"https://github.com/benfox1216/brownfield-of-dreams.git","svn_url":"https://github.com/benfox1216/brownfield-of-dreams","homepage":"","size":7854,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":8,"license":null,"forks":0,"open_issues":8,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":253594267,"node_id":"MDEwOlJlcG9zaXRvcnkyNTM1OTQyNjc=","name":"monster_shop_2001","full_name":"mlynch5187/monster_shop_2001","private":false,"owner":{"login":"mlynch5187","id":53200401,"node_id":"MDQ6VXNlcjUzMjAwNDAx","avatar_url":"https://avatars3.githubusercontent.com/u/53200401?v=4","gravatar_id":"","url":"https://api.github.com/users/mlynch5187","html_url":"https://github.com/mlynch5187","followers_url":"https://api.github.com/users/mlynch5187/followers","following_url":"https:/[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-R[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-R[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/gibberish
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1589380704'
      Etag:
      - W/"46606d29a745ae420f667032d3172266"
      Last-Modified:
      - Thu, 24 Sep 2015 11:21:47 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Gibberish","id":14820405,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE0ODIwNDA1","avatar_url":"https://avatars0.githubusercontent.com/u/14820405?v=4","gravatar_id":"","url":"https://api.github.com/users/Gibberish","html_url":"https://github.com/Gibberish","followers_url":"https://api.github.com/users/Gibberish/followers","following_url":"https://api.github.com/users/Gibberish/following{/other_user}","gists_url":"https://api.github.com/users/Gibberish/gists{/gist_id}","starred_url":"https://api.github.com/users/Gibberish/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Gibberish/subscriptions","organizations_url":"https://api.github.com/users/Gibberish/orgs","repos_url":"https://api.github.com/users/Gibberish/repos","events_url":"https://api.github.com/users/Gibberish/events{/privacy}","received_events_url":"https://api.github.com/users/Gibberish/received_events","type":"Organization","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":1,"public_gists":0,"followers":0,"following":0,"created_at":"2015-09-24T11:21:47Z","updated_at":"2015-09-24T11:21:47Z"}'
  recorded_at: Wed, 13 May 2020 13:50:20 GMT
[...]
